:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-button-color: #f5f4fa;
  --secondary-links-color: #eeeeee;
}

.container {
  width: 1600px;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--second-title-color);
}

.page-header {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 215px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;

  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.studio-black {
  color: #000000;
}
.studio-white {
  color: var(--main-title-color);
}
.main-section {
  display: block;
  margin-right: auto;
  margin-left: auto;

  background-color: #2f303a;
}
.main-title {
  padding-top: 200px;
  padding-left: auto;
  padding-right: auto;

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-title-color);
}
.site-nav {
  display: flex;
  margin-left: 93px;
  margin-right: 331px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.list button:hover,
.list button:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}
.contacts {
  display: flex;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contacts a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}
.contacts-footer {
  margin-left: 215px;
}
.contacts-footer a {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.contacts-footer span {
  color: var(--main-title-color);
}
.contacts-footer a:hover,
.contacts-footer a:focus {
  color: var(--accent-color);
}

button {
  cursor: pointer;
}
.main-button {
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px 10px 32px;
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;

  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-title-color);
}
.main-button:hover,
.main-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.main-section {
  padding-bottom: 195px;
}

.differences {
  display: flex;
  margin-left: 215px;
  margin-right: 215px;
}

.differences .item:not(:last-child) {
  margin-right: 30px;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}

.differences .item h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-title-color);
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-title-color);
}
.activites {
  display: flex;
  margin-left: 215px;
  margin-right: 215px;
}

.activites .item:not(:last-child) {
  margin-right: 30px;
}

.our-command {
  display: flex;
  margin-left: 215px;
  margin-right: 215px;
}

.our-command .item:not(:last-child) {
  margin-right: 30px;
}

.our-command p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1875;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.difference .item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

footer {
  display: block;
  background-color: #2f303a;
}
/*Портфолио*/
.filtr {
  background-color: #eeeeee;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--second-title-color);
}

.type {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-text-color);
}

.projects span:hover,
.projects span:focus {
  color: var(--accent-color);
}
